<div class="container mt-5">
    <h2 class="text-center">Recuperar Contraseña</h2>
    <form [formGroup]="recuperarForm" (ngSubmit)="recuperar()" class="mt-4">
        <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" id="email" class="form-control" formControlName="email" required />
            <div *ngIf="recuperarForm.get('email')?.invalid && recuperarForm.get('email')?.touched" class="text-danger">
                Ingresa un correo válido.
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4 w-100" [disabled]="!recuperarForm.valid">
            Recuperar Contraseña
        </button>
    </form>
</div>