<div id="navbar"></div>
<div class="container my-5">
    <h2 class="text-center" id="eventTitle">Detalles del Evento</h2>
    <div id="eventDetails" class="my-4"></div>

    <!-- Sección de Comentarios -->
    <h3>Comentarios</h3>
    <ul id="commentsList" class="list-unstyled mb-3"></ul>

    <!-- Agregar Comentario (solo para visitantes) -->
    <div id="commentSection" class="my-4">
        <textarea id="commentText" class="form-control" placeholder="Escribe tu comentario..."></textarea>
        <button id="submitComment" class="btn btn-primary mt-2">Agregar Comentario</button>
    </div>
</div>